
HTML{
    background-color:white!important;
}
BODY{
    background-color:white!important;
}
.noprint {
    display:none;
}
#printdata {
display: block!important;
width: auto!important;
height: auto!important;
overflow: visible!important;
}